.body{
    background-color: #e3f2fd;
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
    
}
.nav-item{
    margin-right: 15px;
}
#title{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.wrapper{
    margin: 20px;
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
}
.wrapper header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.piano-keys .key{
    list-style: none;
    color: white;
}
