.body{
    background-color: #e8d9fb;
}
.nav-item{
    margin-right: 15px;
}
.hero{
  background: #020024;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 21%, rgba(9, 9, 121, 1) 52%, rgba(131, 58, 180, 1) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  
}
.hero:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 23, 48, 0.4);
}
.main.container{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f2eafdd3;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    min-height: 50vh;
    justify-content: center;
}
.card{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    border: 2px solid transparent;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 23, 48, 0.4);
}
.footer{
    background-attachment: fixed;
    background-color: #010f1b;
}

