.body{
    background-color: #e8d9fb;
}
.nav-item{
    margin-right: 15px;
}
.hero .container{
  
}
.card{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 23, 48, 0.4);
}
.footer{
    background-attachment: fixed;
    background-color: #010f1b;
}

