.body {
  text-align: center;
  
}

#title {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Archivo Black", sans-serif;
  text-shadow: 5px 0 #000000e8;
  margin-top: 40px;
  padding-top: 40px;
  

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.body{
  background-image: url("./images/fullset.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.137);
  background-blend-mode: lighten;
  
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #000000;
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  line-height: 2;
  font-weight: 900;
  color: #e98645e5;
  text-shadow: 3px 0 #000000;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}



.nav-item{
    margin-right: 15px;
}